{% extends 'base.html' %}
{% load static %}
<!---->>
{% block title %} บริษัท ไอที โซลูชั่น จำกัด {% endblock title %}
<!---->>
{% block content %} 

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static '51620.jpg'%}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Praewpan Sukkasem</h5>
        <p class="card-text">ตำแหน่ง : ประธานบริษัท(CEO) </p>
        <p class="card-text">ติอต่อ : sukkasem.praewpan@gmail.com </p>
        
      </div>
    </div>
  </div>
</div>
ชื่อบริษัท: บริษัท ไอที โซลูชั่น จำกัด ที่ตั้ง: 123 ถนนสุขุมวิท แขวงบางรัก เขตบางรัก กรุงเทพมหานคร 10500 
วัตถุประสงค์: ให้บริการด้านไอที ออกแบบเว็บไซต์ พัฒนาแอปพลิเคชัน ให้บริการอบรมด้านไอที 
ทุนจดทะเบียน: 1,000,000 บาท 
จำนวนหุ้น: 100,000 หุ้น มูลค่าหุ้นละ 10 บาท 
ประเภทของหุ้น: หุ้นสามัญ 
ผู้บริหาร: นางสาวแพรวพรรณ สุขเกษม 
อำนาจกรรมการ: กรรมการมีอำนาจกระทำการแทนบริษัทได้ทุกอย่าง เว้นแต่จะมีกฎหมายหรือข้อบังคับของบริษัทจำกัดกำหนดไว้เป็นอย่างอื่น 
ประวัติ บริษัท ไอที โซลูชั่น จำกัด 
ก่อตั้งขึ้นเมื่อวันที่ 2 มีนาคม 2560 โดยนางสาวแพรวพรรณ สุขเกษม 
ดำเนินธุรกิจหลัก คือ จำหน่าย ติดตั้ง และให้บริการระบบกล้องวงจรปิด ระบบรักษาความปลอดภัย ระบบเครือข่ายคอมพิวเตอร์ และอุปกรณ์ไอทีอื่นๆ 
บริษัทมุ่งมั่นที่จะให้บริการที่มีคุณภาพสูง ตอบสนองความต้องการของลูกค้าอย่างครบวงจร ผลิตภัณฑ์และบริการ ระบบกล้องวงจรปิด ระบบรักษาความปลอดภัย ระบบเครือข่ายคอมพิวเตอร์ อุปกรณ์ไอทีอื่นๆ 

 {% endblock content %}